@model TuFicha.Models.DatosUsuarioViewModel
@{
    ViewBag.Title = "Home Page";
}



<div class="row m-t-lg">
    <div class="hpanel">
        <div class="container">
                @Html.Partial("_DatosUsuario", Model)
        </div>
    </div>           
</div>